<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a routerLink="/home">Assignment Board</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <!-- <mat-form-field>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="search" placeholder="search here" class="search-input">
        </mat-form-field> -->

        <form class="example-form" (ngSubmit)="onsubmit()" >
            <mat-form-field class="example-full-width">
                <span matPrefix> </span>
                <input  matInput type="tel"  placeholder="Search" name= "search" [(ngModel)]= "search">
                <button matSuffix mat-button><mat-icon >search</mat-icon></button>
            </mat-form-field>
            </form>
    </div>
  </mat-toolbar>
